<script src="/javascripts/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#editor',
        theme: 'modern',
        plugins: ['image textcolor spellchecker insertdatetime'],
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | link image | bullist numlist outdent indent | emoticons'
    });
</script>
<nav class="w3-sidenav w3-purple w3-card-8" id="sideNav" style="width: 15%">
    <a href="#" class="w3-center w3-xlarge">Open Editor</a>
    <a href="#">Monday</a>
    <a href="#">Tuesday</a>
    <a href="#">Wednesday</a>
    <a href="#">Thursday</a>
    <a href="#">Friday</a>
</nav>

<div style="margin-left: 15%">
    <div class="w3-container">
        <div id="textEditorHolder" class="w3-card-8 w3-margin-top">
            <textarea id="editor"></textarea>
        </div>
    </div>
</div>